lib/americommerce/wsdl/americommercedb.asmx.wsdl

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:s='http://www.w3.org/2001/XMLSchema' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:tns='http://www.americommerce.com' xmlns:s1='http://microsoft.com/wsdl/types/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tm='http://microsoft.com/wsdl/mime/textMatching/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' targetNamespace='http://www.americommerce.com' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
  <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Raw access to the AmeriCommerce database, all tables, relationships and collections supported.  This web service will return XML responses for each of the methods, however, you can incorporate and reference the AmeriCommerce Interface DLL in your code and it will provide you with an object oriented way to use this XML in your code.  It contains Transport objects with a property for each of the properties returned from this web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault='qualified' targetNamespace='http://www.americommerce.com'>
      <s:import namespace='http://microsoft.com/wsdl/types/' />
      <s:element name='Authenticate'>
        <s:complexType />
      </s:element>
      <s:element name='AuthenticateResponse'>
        <s:complexType>
          <s:sequence>
            <s:element minOccurs='1' maxOccurs='1' name='AuthenticateResult' type='s:boolean' />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name='Dictionary'>
        <s:sequence>
          <s:element minOccurs='1' maxOccurs='1' name='Items' type='tns:Items' />
        </s:sequence>
      </s:complexType>
      <s:complexType name='Items'>
        <s:sequence>
          <s:element minOccurs='0' maxOccurs='unbounded' name='Item' type='tns:DictionaryItem' />
        </s:sequence>
      </s:complexType>
      <s:complexType name='DictionaryItem'>
        <s:sequence>
          <s:element minOccurs='1' maxOccurs='1' name='Key' type='s:anyType' />
          <s:element minOccurs='1' maxOccurs='1' name='Value' type='s:anyType' />
        </s:sequence>
      </s:complexType>
      <s:element name='Dictionary' type='tns:Dictionary' />
    </s:schema>
    <s:schema elementFormDefault='qualified' targetNamespace='http://microsoft.com/wsdl/types/'>
      <s:simpleType name='guid'>
        <s:restriction base='s:string'>
          <s:pattern value='[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}' />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name='AuthenticateSoapIn'>
    <wsdl:part name='parameters' element='tns:Authenticate' />
  </wsdl:message>
  <wsdl:message name='AuthenticateSoapOut'>
    <wsdl:part name='parameters' element='tns:AuthenticateResponse' />
  </wsdl:message>
  <wsdl:message name='AuthenticateAmeriCommerceHeaderInfo'>
    <wsdl:part name='AmeriCommerceHeaderInfo' element='tns:AmeriCommerceHeaderInfo' />
  </wsdl:message>
  <wsdl:portType name='AmeriCommerceDatabaseIOSoap'>
    <wsdl:operation name='Authenticate'>
      <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Pass in the security header (like on other methods) and just get a simple authenticate return or in the event of failure a login exception with proper message.</wsdl:documentation>
      <wsdl:input message='tns:AuthenticateSoapIn' />
      <wsdl:output message='tns:AuthenticateSoapOut' />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name='AmeriCommerceDatabaseIOSoap' type='tns:AmeriCommerceDatabaseIOSoap'>
    <soap:binding transport='http://schemas.xmlsoap.org/soap/http' />
    <wsdl:operation name='Authenticate'>
      <soap:operation soapAction='http://www.americommerce.com/Authenticate' style='document' />
      <wsdl:input>
        <soap:body use='literal' />
        <soap:header message='tns:AuthenticateAmeriCommerceHeaderInfo' part='AmeriCommerceHeaderInfo' use='literal' />
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal' />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name='AmeriCommerceDatabaseIOSoap12' type='tns:AmeriCommerceDatabaseIOSoap'>
    <soap12:binding transport='http://schemas.xmlsoap.org/soap/http' />
    <wsdl:operation name='Authenticate'>
      <soap12:operation soapAction='http://www.americommerce.com/Authenticate' style='document' />
      <wsdl:input>
        <soap12:body use='literal' />
        <soap12:header message='tns:AuthenticateAmeriCommerceHeaderInfo' part='AmeriCommerceHeaderInfo' use='literal' />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use='literal' />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name='AmeriCommerceDatabaseIO'>
    <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Raw access to the AmeriCommerce database, all tables, relationships and collections supported.  This web service will return XML responses for each of the methods, however, you can incorporate and reference the AmeriCommerce Interface DLL in your code and it will provide you with an object oriented way to use this XML in your code.  It contains Transport objects with a property for each of the properties returned from this web service.</wsdl:documentation>
    <wsdl:port name='AmeriCommerceDatabaseIOSoap' binding='tns:AmeriCommerceDatabaseIOSoap'>
      <soap:address location='%{store_domain}/store/ws/americommercedb.asmx' />
    </wsdl:port>
    <wsdl:port name='AmeriCommerceDatabaseIOSoap12' binding='tns:AmeriCommerceDatabaseIOSoap12'>
      <soap12:address location='%{store_domain}/store/ws/americommercedb.asmx' />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>